body {
    background-image: url(imagenes/imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

h1 {
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}